.signup-bg {
  background: url('https://imgs.search.brave.com/dtVAD9o_W9egq7gSBhEbjjQ1Ggg_yC7Ca2RYDhV8z8w/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTQ3/MjEwNzQ0OS9waG90/by9jb3VwbGUtY2Vs/ZWJyYXRpbmctbW92/aW5nLWRheS1tb3J0/Z2FnZS1hbmQtcmVs/b2NhdGlvbi1jb25j/ZXB0LmpwZz9zPTYx/Mng2MTImdz0wJms9/MjAmYz1maWxfd2tK/UVpOVW1IZDRCU0Vn/NHZEOEVENTRyM0JG/N2JmQ3l4cHNDRUxN/PQ') no-repeat center center/cover;
  height: 75vh;
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 25px;
}
.signup-card {
  max-width: 400px;
  width: 90%;
  animation: slideDown 0.8s ease-in-out;
}
@keyframes slideDown {
  from { transform: translateY(-50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
